asttokens==2.0.5
autopep8==1.5.7
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
executing==0.7.0
Flask==2.0.1
friendly==0.3.153
friendly-traceback==0.3.166
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pure-eval==0.2.1
pycodestyle==2.7.0
Pygments==2.9.0
rich==10.6.0
six==1.16.0
stack-data==0.1.0
toml==0.10.2
Werkzeug==2.0.1
